* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #F2F9FE;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.nav {
  max-width: 100%;
}
.nav__navegacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20rem;
  margin-right: 20rem;
}
@media only screen and (max-width: 1280px) {
  .nav__navegacion {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
.nav__navegacion__imagen {
  display: flex;
  align-items: center;
}
.nav__navegacion__imagen--img {
  width: 5rem;
}
.nav__navegacion__imagen span {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Mulish", sans-serif;
  margin-left: 1rem;
}
.nav__navegacion__acces {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.nav__navegacion__acces a {
  font-size: 1.5rem;
  color: #111729;
  font-weight: 500;
  padding: 0.5rem;
  display: inline-block;
  position: relative;
}
.nav__navegacion__acces a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  bottom: 0;
  left: 0;
  background-color: #2A4DD0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.nav__navegacion__acces a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav__navegacion__acces a:hover {
  color: #2A4DD0;
}
@media only screen and (max-width: 1440px) {
  .nav__navegacion__acces {
    width: 50%;
  }
}
@media only screen and (max-width: 1280px) {
  .nav__navegacion__acces {
    width: 50%;
  }
}

.main {
  padding-top: 5rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 20rem;
  margin-right: 20rem;
}
@media only screen and (max-width: 1280px) {
  .main {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
.main__anuncio h3 {
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 2.5rem;
  font-weight: 500;
}
@media only screen and (max-width: 1280px) {
  .main__anuncio h3 {
    font-size: 1.25rem;
  }
}
.main__anuncio h1 {
  font-size: 11rem;
}
@media only screen and (max-width: 1280px) {
  .main__anuncio h1 {
    font-size: 5.6rem;
  }
}
.main__anuncio--p {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 1280px) {
  .main__anuncio--p {
    font-size: 1.25rem;
  }
}
.main__anuncio__buttons--get {
  background-color: #2A4DD0;
  color: white;
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 1.5rem;
  transition: 0.5s;
  display: inline-block;
}
@media only screen and (max-width: 1280px) {
  .main__anuncio__buttons--get {
    font-size: 1.25rem;
  }
}
.main__anuncio__buttons--get:hover {
  background-color: #001f91;
  transition: 0.5s;
}
.main__anuncio__buttons--getLive {
  font-size: 2rem;
  margin-left: 5rem;
  color: #001f91;
  display: inline-block;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 500;
}
@media only screen and (max-width: 1280px) {
  .main__anuncio__buttons--getLive {
    font-size: 1.25rem;
  }
}
.main__anuncio__buttons--getLive::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  bottom: 0;
  left: 0;
  background-color: #001f91;
}
.main__anuncio__check {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.main__anuncio__check svg {
  margin-right: 1.5rem;
  transform: scale(1.5);
}
@media only screen and (max-width: 1280px) {
  .main__anuncio__check svg {
    margin-right: 0.8rem;
    transform: scale(1);
  }
}
.main__anuncio__check--svg2 {
  margin-left: 2rem;
}
.main__anuncio__check p {
  font-size: 2.5rem;
  text-align: center;
}
@media only screen and (max-width: 1280px) {
  .main__anuncio__check p {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 1280px) {
  .main__portada--imgportada {
    width: 45rem;
    height: auto;
  }
}

/*hola com oestas asdasdasdasdasd*/
.nav__navegacion__iconos {
  width: 7rem;
  height: 3rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 10rem;
  border: #333 solid 0.2rem;
  background-color: #132b41;
  /* background-color: #111729;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  width: 5rem;
  height: 2.5rem;
  display: flex; */
}
.nav__navegacion__iconos--sol {
  font-size: 2rem;
  color: #fdc21c;
  /* background-color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem; */
}
.nav__navegacion__iconos--luna {
  font-size: 2rem;
  color: #fdc21c;
}
.nav__navegacion__iconos::before {
  content: "";
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  border: solid thin #000;
  left: 0;
  right: unset;
}
.nav__navegacion__active::before {
  right: 0;
  left: unset;
  border: solid thin #fff;
}
.nav__navegacion__active {
  background-color: chocolate;
  border: solid 0.2rem #fff;
}

body.active {
  background-color: #111729;
}

body.active nav {
  background-color: #111729;
  color: white;
}

body.active nav a {
  color: white;
}

body.active nav a:hover {
  color: #fdc21c;
}

body.active nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  bottom: 0;
  left: 0;
  background-color: #fdc21c;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

body.active section {
  background-color: #111729;
  color: white;
}

body.active section a {
  color: white;
}

body.active section a:last-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.25rem;
  bottom: 0;
  left: 0;
  background-color: white;
}

/*# sourceMappingURL=estilos.css.map */
